
*  {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
     }

  body {
        font-family: 'Jost', sans-serif;
    }

/****** layout system *****************/
  .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        column-gap: 5px;
        width:80%;
        margin: auto;
      }
       
      /* control sections */
      .sec {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
      }
       
      .nav-bar {
        grid-column: 2 / span 2;
      }
      
      .slider,.Special-category,.icons-section,.Featured-Products {
        grid-column: 1 / span 4;
        margin-bottom: 40px;
      }
      
      .slider img {
        width: 100%;
      }

      .cap-discount {
         grid-column: 1/span 2;
         background-color: #F7F3EF;
      }

      .cap-discount .caption {
        margin-left: 55px;
      }

      .cap-discount i {
        position: relative;
        top: 35px;
        font-size: 50px;
        color: #7B5244;
      }

      .cap-discount p {
        margin-top: 20px;
        line-height: 30px;
      }
     
      
    



/********end of layout sytem *********/

nav {
  position: relative;
}

nav:hover .drop-conatiner {
  opacity: 1;
}

/* drop down */
.drop-conatiner {
  width: 60%;
  border: 1px solid brown;
  position: absolute;
  bottom: -150px;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
}


.drop-item {
  width: 33%;
}

.drop-title {
  text-decoration: underline;
  text-decoration: underline;
  padding-bottom: 10px;
}

.drop-list {
  list-style-type: none;
}
/* drop down*/

nav ul {
  padding-top: 10px;
  font-size: 20px;
  overflow: hidden;
  list-style-type: none;
}

 nav .box {
   position: relative;
   overflow: hidden;
   padding: 0 10px;
} 



 nav .box::before {
  content: "";
   position: absolute;
   left: -1px;
   transition: 2s;
} 

 nav .box::after {
   content: "";
   position: absolute;
   right: -1px;
} 

nav .box:hover::after , nav .box:hover::before {
  content: "|";
  color: brown;
}


nav a {
  text-decoration: none;
  color: brown;
  position: relative;
  
}

nav ul a::before,nav ul a::after {
   content: " ";
   display: block;
   background-color: #7B5244;
   width: 1px;
   height: 1px;
   position: absolute;
   bottom: 0;
   transition: 0.5s;
}

nav ul a::before {
  top: 0;
}


nav ul a:hover::before, nav ul a:hover::after{
   width: 100px;

}

nav  li:hover::before, nav li:hover::after{
  height: 4px;

}




/* ///////////////////////////////////////////////////////// */
nav .h-links, .icons,.controller,.list,.products-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.badge {
  position: relative;
}

.icons .badge::after{
    content: "0";
    background-color: #7B5244;
    color: white;
    padding: 4px;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    right: 56px;
    top: 18px;
}

.item-4-div {
  width: 25%;
  margin-left: 10px;
  position: relative;
}

.item-4-div:hover i {
  opacity: 1;
}

.item-4-div img {
  width: 100%;
}

.item-4-div h2 {
  font-size: 19px;
}

.item-4-div i {
  color: white;
  background-color: brown;
  position: absolute;
  right: 5px;
  bottom: 0;
  padding: 5px 10px;
  opacity: 0;
}

.discount1, .discount2, .cap-discount {
  position:relative;
  transition: 0.5s;
  margin-bottom: 40px;
}

.discount1:hover, .discount2:hover {
  transform: scale(1.1,1.1);
}

.img-cap {
   position: absolute;
   top: 15px;
   left: 15px;
}

.cap-discount .indictor{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
}

.indictor span {
  width: 50px;
  height: 2px;
  background-color: brown;
  margin-left: 13px;
}

.icons-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: auto;
}

.icons-container img {
  transition:  0.5s;
}

.icons-container:hover img {
   transform: translateY(-50px);
}

.item {
  border-right: 1px solid brown;
  padding: 10px 20px;
  width: 30%;
  margin: 10px 0;
  overflow: hidden;
}

.no-right-border {
  border-right: none;
}

.list {
  width: 40%;
  margin: auto;
}

.products-list {
  flex-wrap: wrap;
}

.icons-section {
  border-bottom: 1px solid brown;
  text-align: center;
}



/*  */
.title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: #CD5C5C;
  right: 50%;
  bottom: -7px;
  position: absolute;
  transition: 2s;
}

.title:hover::after {
  width: 100px;
}

.title::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: #CD5C5C;
  left: 50%;
  bottom: -7px;
  position: absolute;
  transition: 2s;
}

.title:hover::before {
  width: 100px;
}

.img-container {
  position: relative;
}

 .img-container:hover .img {
   transform: rotateY(0deg);
} 


.img {
  position: absolute;
  top:0;
  bottom: 0;
  width: 300px;
  left:0;
  background-image: url(../images/Special-category/chair4.jpg);
  background-size: 100% 100%;
  opacity: 0.7;
  transform: rotateY(90deg);
  transition: transform 0.5s;
  
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
  height: 100%;
}

.social-list i{
  padding: 10px;
  background-color: #7B5244;
  color: white;
}